projects/myOCcall/**/*.mp3
projects/myOCcall/data/
*.mp3
.stFolder/*
.env
*.eml
_utility/temp/*.*
_attachments/temp/*.*
.claude/*
.openclaw-cli-images/*
.gitx/*projects/myAgenda/_credentials/
projects/miotesoro/.env
